:root{
	--code-bacground: rgb(234, 237, 240);
}

pre code {
	background-color: var(--code-bacground);
	border: 1px solid #999;
	display: block;
	padding: 0 0 1.5em 1.5em;
	/* border-radius: 0.5em; */
	overflow: auto;
	margin-top: -2em;
	margin-bottom: -3.5em;
}

h1, h2, h3, h4, h5, h6 {
	padding-left: 0.5em;
}

p, a:not(p > a) {
	padding: 0 1em 0 1em;
}

pre {
	position: relative;
}

button {
	background-color: var(--code-bacground);
	border: none;
	color: darkgray;
	position: absolute;
	top: 0.9em;
	right: 1.5em;
	padding-bottom: .2em;
}

button:hover {
	background-color: lightgray;
}

img {
	margin: 0 -0.5em 0 1em;
	width: calc(50% - 1.25em);
}

.wide {
	width: calc(100% - 2em);
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 0 2em 0 1em;
    width: auto;
}

#toc_container a {
	padding: 0 1em 0 0;
}

.toc_title {
    font-weight: 700;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
	padding: 0 0.5em 0 1em;
}